button {
  background: rgb(236, 168, 20);
  border: 2px solid rgb(236, 168, 20);
  border-radius: 15px;
}

.card:hover .title {
  color: rgb(236, 168, 20);
}
.orange {
  position: relative;
}
.orange::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 1px solid rgb(236, 168, 20);
}
.navbar {
  background-color: rgb(236, 168, 20);
}
#navbarHeader {
  background-color: rgb(236, 168, 20);
}
