
*{
 box-sizing: border-box;   
}
body{
    margin: 0;
    padding: 0;
}

button{
    background: #e79623;
    border: 2px solid #e79623;
    border-radius: 15px;
}
.card .bottom, .title, .price{
    display: flex;
    justify-content: center;
}
.bottom{
    padding: 42px;
}
.title {
    padding: 25px;
}
.card{
    background-size: cover;
    color: white;
    margin: 10px;

}